<div class="page-header">
  <h1>Conteo de victimizaciones individuales</h1>
</div>

<%= simple_form_for :filtro, 
  { remote: true, 
    url: conteos_victimizaciones_path,
    method: "get" } do |f| 
%>
  <div class="container">
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Filtrar por:
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :fechaini,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Inicial',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => ""
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :fechafin,
          maxlength: 10, 
          size: 10,
          label: false,
          placeholder: 'Fecha Final',
          input_html: {
            "data-behaviour" => "datepicker",
            "data-contarautomatico" => ""
          }
        %>
      </div>
      <div class="offset-sm-0 col-sm-3">
        <%= f.input :tviolencia_id,
          collection: Sivel2Gen::Tviolencia.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Tipo de violencia',
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
    </div>

    <div class="row filtro-fila">
      <div class="offset-sm-2 col-sm-3">
        <%= f.input :etiqueta1,
          collection: Sip::Etiqueta.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 1',
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :etiqueta2,
          collection: Sip::Etiqueta.habilitados,
          label_method: :nombre,
          value_method: :id,
          label: false,
          include_blank: '-- Etiqueta 2',
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :excluircaterep, 
          as: :boolean, 
          boolean_style: :nested,
          label: false,
          inline_label: 'Excluir categorías repetidas',
          input_html: { 'data-contarautomatico' => '' }
        %> 
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
      </div>
      <div class="col-sm-9 accordion" id='colcategorias'>
        <%= item_acordeon_bs('colcategorias', 'colcategorias2', 'Filtro por categoría', false) do %> 
          <div class='row'>
            <div class='col-sm-9'>
              <% cats = Sivel2Gen::Categoria.habilitados.pluck(:id) %>
              <%= f.input :categoria, 
                collection: Sivel2Gen::Categoria.habilitados.group_by{ |c| 
                  c.supracategoria.id_tviolencia},
                    as: :grouped_select, 
                    group_method: :last, 
                    group_label_method: lambda { |ca| Sivel2Gen::Tviolencia.find(ca[0]).nombre}, 
                    value_method: :id,
                    label_method: lambda { |cat| "#{Sivel2Gen::Supracategoria.find(cat.supracategoria_id.to_i).id_tviolencia}#{cat.id.to_s} #{cat.nombre}" },
                    selected: cats,
                    label: false,
                    input_html: { 
                      "data-contarautomatico" => "",
                      class: 'chosen-select',
                      multiple: true
                    }
                  %>
            </div>
            <div class='col-sm-3'>
              <%= f.input :mostrar_cats, 
                collection: [[1, 'Escoger todos'], [2, 'Algunos'], [0, 'Quitar todos']], 
                label_method: :last, 
                value_method: :first,
                as: :radio_buttons, 
                item_wrapper_class: 'form-check-inline',
                disabled: 2,
                checked: 1,
                label: '',
                input_html:  {
                  'data-contarautomatico' => ''}
                %>
            </div>
          </div> <!-- row -->
        <% end %>
      </div> <!-- colcategorias -->
    </div> <!-- row -->

    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Desagregar por:
      </div>
      <div class="col-sm-3">
        <%= f.input :segun,
          collection: @opsegun,
          label: false,
          include_blank: false,
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :departamento, 
          as: :boolean, 
          boolean_style: :nested,
          input_html: { style: 'margin-left: 15px',
                        'data-contarautomatico' => '' }
        %>
      </div>
      <div class="col-sm-3">
        <%= f.input :municipio, 
          as: :boolean, 
          boolean_style: :nested,
          input_html: { 'data-contarautomatico' => '' }
        %>
      </div>
    </div>
    <div class="row filtro-fila">
      <div class="offset-sm-0 col-sm-3 offset-md-1 col-md-1">
        Columnas por:
      </div>
      <div class="col-sm-3">
        <% @opcol = ['', 'CATEGORÍA'] %>
        <%= f.input :agrucol,
          collection: @opcol,
          label: false,
          include_blank: false,
          input_html: { "data-contarautomatico" => "" }
        %>
      </div>
    </div>
 
    <div class="row filtro-fila">
      <%= render partial: 'victimizaciones_botones', locals: {f: f} %>
    </div>
  </div>
<% end %>

<div id="resultado">
  <%= render 'sivel2_gen/conteos/resultado_tabla' %>
</div> <!-- id: resultado -->
