<%= f.input :id, as: :hidden %>

<%= f.simple_fields_for :grupoper do |g| %>
  <%= render partial: 'msip/gruposper/grupoper_campos', 
    locals: {f: g, fvictimacolectiva: f} %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <%= f.association :sectorsocial,
      collection: Sivel2Gen::Sectorsocial.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
  </div>
  <div class="col-md-4">
    <%= f.association :profesion,
      collection: Sivel2Gen::Profesion.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id %>
  </div>
  <div class="col-md-4">
<%= f.association :organizacion,
  collection: Sivel2Gen::Organizacion.habilitados,
  include_blank: false,
  label_method: :nombre, 
  value_method: :id %>
  </div>
</div>
