<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a></li>
<%- else  %>
  <%= render partial: 'capa_cargando' %>
  <article>
    <%= simple_form_for @caso, 
      url: sivel2_gen.casos_path(@caso).sub(/\./,"/"), 
      multipart: true,
      html: { 
        class: 'form-horizontal',
        "data-controller": "msip--bitacoraap",
        "data-action": "submit->msip--bitacoraap#enviarFormulario"
      } do |f| %>
      <div 
         data-role="content" 
         class="form-inputs" 
         data-controller="sivel2-gen--enviar-ficha-caso">

        <%= render partial: 'msip/hogar/errores', locals: { f: f } %>

        <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link active" id="basicos-pestana" data-bs-toggle="tab" data-bs-target="#basicos" type="button" role="tab" aria-controls="basicos" aria-selected="true">Datos Básicos</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="victimascolectivas-pestana" data-bs-toggle="tab" data-bs-target="#victimascolectivas" type="button" role="tab" aria-controls="victimascolectivas" aria-selected="false">Colectivo Humano</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="victimas-pestana" data-bs-toggle="tab" data-bs-target="#victimas" type="button" role="tab" aria-controls="victimas" aria-selected="false">Víctimas Individuales</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="ubicaciones-pestana" data-bs-toggle="tab" data-bs-target="#ubicaciones" type="button" role="tab" aria-controls="ubicaciones" aria-selected="false">Localización</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="contextos-pestana" data-bs-toggle="tab" data-bs-target="#contextos" type="button" role="tab" aria-controls="contextos" aria-selected="false">Contexto</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="presponsables-pestana" data-bs-toggle="tab" data-bs-target="#presponsables" type="button" role="tab" aria-controls="presponsables" aria-selected="false">Presuntos Responsables</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="actos-pestana" data-bs-toggle="tab" data-bs-target="#actos" type="button" role="tab" aria-controls="actos" aria-selected="false" data-enviar-ficha-caso-target="actos-pestana" data-action="click->sivel2-gen--enviar-ficha-caso#cambiarficha">Actos</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="anexos-pestana" data-bs-toggle="tab" data-bs-target="#anexos" type="button" role="tab" aria-controls="anexos" aria-selected="false">Anexos</button>
          </li>
          <li role="presentation" class="nav-item"> 
            <button class="fichacambia nav-link" id="fuentesprensa-pestana" data-bs-toggle="tab" data-bs-target="#fuentesprensa" type="button" role="tab" aria-controls="fuentesprensa" aria-selected="false">Fuentes Frecuentes</button>
          </li>
          <li role="presentation" class="nav-item"> 
            <button class="fichacambia nav-link" id="fotras-pestana" data-bs-toggle="tab" data-bs-target="#fotras" type="button" role="tab" aria-controls="fotras" aria-selected="false">Otras Fuentes</button>
          </li>
          <li role="presentation" class="nav-item"> 
            <button class="fichacambia nav-link" id="descripcion-pestana" data-bs-toggle="tab" data-bs-target="#descripcion" type="button" role="tab" aria-controls="descripcion" aria-selected="false">Memo</button>
          </li>
          <li role="presentation" class="nav-item">
            <button class="fichacambia nav-link" id="etiquetas-pestana" data-bs-toggle="tab" data-bs-target="#etiquetas" type="button" role="tab" aria-controls="etiquetas" aria-selected="false">Etiquetas y Solicitudes</button>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active show" id="basicos" aria-labelledby="basicos-pestana">
            <%= render 'basicos', f: f %>
          </div> 

          <div role="tabpanel" class="tab-pane fade" id="victimascolectivas" aria-labelledby="victimascolectivas-pestana">
            <%= render 'victimascolectivas', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="victimas" aria-labelledby="victimas-pestana">
            <%= render 'victimas', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="ubicaciones" aria-labelledby="ubicaciones-pestana">
            <%= render 'ubicaciones', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="contextos" aria-labelledby="contextos-pestana">
            <%= render 'contextos', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="presponsables" aria-labelledby="presponsables-pestana">
            <%= render 'presponsables', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="actos" aria-labelledby="actos-pestana">
            <%= render 'actos', f: f %> 
          </div>

          <div role="tabpanel" class="tab-pane fade" id="anexos" aria-labelledby="anexos-pestana">
            <%= render 'sivel2_gen/casos/anexos', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="fuentesprensa" aria-labelledby="fuentesprensa-pestana">
            <%= render 'fuentesprensa', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="fotras" aria-labelledby="fotras-pestana">
            <%= render 'fotras', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="combatientes" aria-labelledby="combatientes-pestana">
            <%= render 'combatientes', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="descripcion" aria-labelledby="descripcion-pestana">
            <%= render 'memo', f: f %>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="etiquetas" aria-labelledby="etiquetas-pestana">
            <%= render 'etiquetas', f: f %>
          </div>

        </div> <!-- tab-content -->
      </div> <!-- tabpanel -->
    </div> <!-- form-inputs -->

    <div class="form-actions" style="text-align: center">
      <%= f.input :created_at, as: :hidden %>
      <%= f.input :updated_at, as: :hidden %>
      <input id='caso_bitacora_inicialmente_valido'
        name='caso[bitacora_inicialmente_valido]'
        value='<%= f.object.valid? %>'
        type='hidden'>
      <input class='bitacora_cambio' 
         id='caso_bitacora_cambio' 
         name='caso[bitacora_cambio]' 
         type='hidden'>
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()',
        data: {
          turbo: false,
          disable_with: false
        }
      } %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
        sivel2_gen.casos_path, class: 'btn' 
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

