<% ao = a.object ? a.object : @orgsocial %>
<% div_id = "victima_orgsocial_#{ao.id}" %>
<div id="<%= div_id %>" class="victima_orgsocial">
  <label class="string optional control-label" for="tabla_<%= div_id %>">Víctimas del caso relacionadas</label>
  <table id="tabla_<%= div_id %>" class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Perfil</th>
      </tr>
    </thead>
    <tbody>
      <% ao.orgsocial_persona.where(
        'persona_id IN (SELECT id_persona FROM public.sivel2_gen_victima 
        WHERE id_caso=?)', @caso.id).each do |ap|%>
        <tr>
          <td><%= ap.persona.nombres %></td>
          <td><%= ap.persona.apellidos %></td>
          <td><%= ap.perfilorgsocial.nombre if ap.perfilorgsocial %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
