<%- model_class = Sivel2Gen::Caso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= @caso.fecha_localizada if @caso.fecha %><br>

<% @caso.victima.each do |v| %>
  <%= v.persona.presenta_nombre %> <br>
<% end %>

<% if @caso.ubicacion %>
  <%if  @caso.ubicacion[0].municipio %>
    Municipio <%= @caso.ubicacion[0].municipio.nombre %>, 
  <% end %>
  <%if  @caso.ubicacion[0].departamento %>
    <%= @caso.ubicacion[0].departamento.nombre %>
  <% end %>
<% end %>

<% @caso.victima.each do |v| %>
  <%= v.sectorsocial.nombre if v.sectorsocial %>
  <% if v.profesion %>
    - <%= v.profesion.nombre if v.profesion %> <br>
  <% end %>
<% end %>

<% @caso.ubicacion[0].lugar if @caso.ubicacion  && @caso.ubicacion[0].lugar %><br>

<p>
<% if @caso.presponsable %>
  Presunto Reponsable: <%= @caso.presponsable.map(&:nombre).join("; ") %>
<% end %>
</p>
<p> <%= @caso.memo %> </p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sivel2_gen.casos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              sivel2_gen.edit_caso_path(@caso), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sivel2_gen.caso_path(@caso),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro(a)?')) },
              :class => 'btn btn-danger' %>
</div>
